/* Fonts */
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
 */
 /* color */
/* footer: #333232 */
/* dark green-gray #bbcbcb */
/* light green-gray: #dbecec */
/* background: #ffffff */


/* header */

body {
    border-top: 10px solid #333232;
}

nav {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/* jumbotron */
.jumbotron {
    background: url(images/jumbotron-dark.jpg) no-repeat center fixed;
    background-size: cover;
    height: 90vh;
    border-radius: 0;
}

.jumbotron h3, .jumbotron p {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 50%;
    text-shadow: 2px 2px 10px #000000;
}

.jumbotron h3 {
    font-weight: bold;
}

/* about us */

.icon-container {
    height: 100px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.icon-container img {
    max-height: 100px;
}

/* Portfolio */

#portfolio {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}


#portfolio .container {
    background-color: #bbcbcb;
    padding: 20px;
    box-shadow: 2px 2px 10px #000000;
}

#portfolio img {
    margin-top: 10px;
}

#portfolio .image-list img:hover {
    cursor: pointer;
}

/* News */
#news .container {
    margin-top: 30px;
    padding-top: 10px
}

#news h4 {
    padding: 10px;
}

#news .row div {
    padding: 10px;
}

.new-entry {
    background-color: #dbecec;
}


.newsImgContainer img {
    width: 50%;
    margin-right: 10px;
    padding: 0;
}

.newsImgContainer {
    padding: 0 !important;
}

#news p {
    text-align: left;
}

/* Footer */

#footer {
    background-color: #333232;
    padding: 20px;
    color: #fffcf9;
}